/* ********************* */
/* font */
/* ********************* */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


/* ********************* */
/* variable */
/* ********************* */

:root {
   /* orange primary color */
  --clr-orange-1: #e67e22;
  --clr-orange-2: #ffb228;
  --clr-orange-3: #f45905;
  --clr-orange-4: #c06014;

  /* white primary color */
  --clr-white-1: #fafafa;
  --clr-white-2: #fbf9fa;
  --clr-white-3: #f4f4f4;
  --clr-white-4: #fff;
  --clr-white-5: #faf3e0;
  --clr-white-6: #f8f5f1;
  --clr-white-7: #fdf1d6;
  /* black primary color */
  --clr-black-1: #373331;
  --clr-black-2: #000;
  --clr-black-3: #333;
  --clr-black-4: #63686e;
  --clr-black-5: #888;

  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --ff-primary: 'Lato', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --lineHeight: 2rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* Social media colors */
  --clr-faceBook: #3b5998;
  --clr-twitter: #00aced;
  --clr-instagram: #517fa4;
  --clr-googlePlus: #dd4b39;
  --clr-linkedIn: #0e76a8;
}

/* ********************* */
/* Global Styles */
/* ********************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white-4);
  color: var(--clr-black-2);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
 list-style-type: none;
}
a {
 text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black-1);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* ********************* */
/* Global classes */
/* ********************* */

.btn-1 {
  text-transform: capitalize;
  background: var(--clr-orange-2);
  color: var(--clr-white-5);
  padding: 0.375rem 0.75rem;
  /* letter-spacing: var(--spacing); */
  display: inline-block;
  border-radius: 1.25rem;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 1.25rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn-1:hover {
  color: var(--clr-orange-4);
  background: transparent;
  border: 2px solid var(--clr-orange-4);
}

.btn-2 {
  text-transform: capitalize;
  background: transparent;
  color: var(--clr-orange-2);
  padding: 0.375rem 0.75rem;
  /* letter-spacing: var(--spacing); */
  display: inline-block;
  border-radius: 1.25rem;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 1.25rem;
  border: 2px solid var(--clr-orange-2);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn-2:hover {
  color: var(--clr-orange-4);
  background: transparent;
  border: 2px solid var(--clr-orange-4);
}

.section{
  padding: 5rem 0;
}

.section-title{
  text-align: center;
  margin-bottom: 4rem;
}

.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px){
  .section-center{
    width: 95vw;
  }
}

/* ********************* */
/* animation */
/* ********************* */

@keyframes slideFromDown{
  0%{
    transform: translateY(1000px);
    opacity: 0;
  }

  50%{
    transform: translateY(-200px);
    opacity: 0.5;
  }

  75%{
    transform: translateY(50px);
    opacity: 0.75;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromUp{
  0%{
    transform: translateY(-1000px);
    opacity: 0;
  }

  50%{
    transform: translateY(200px);
    opacity: 0.5;
  }
  75%{
    transform: translateY(-50px);
    opacity: 0.75;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes show-btn{
  0%{
    /* transform: scale(0.3); */
    opacity: 0;
    /* transform: scale(1.2); */
  }

    50%{
    /* transform: scale(0.6); */
    opacity: 0.5;
    /* transform: scale(1.5); */
  }

  100%{
    /* transform: scale(1); */
    opacity: 1;
    /* transform: scale(1); */
  }
}


/* ********************* */
/* navBar */
/* ********************* */

.navBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white-2);
  opacity: 0.95;
  box-shadow: var(--light-shadow);
  z-index: 2;
  animation: show-btn 2s linear 1;
}

.nav-center{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 4rem;
}

.nav-text h2{
  font-weight: 300;
}

.nav-text span{
  color: var(--clr-orange-1);
}

.nav-toggle{
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-orange-2);
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover{
  transform: scale(1.2);
}

.nav-links{
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links{
  height: 280px;
}

.nav-link{
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  /* letter-spacing: var(--spacing); */
  transition: var(--transition);
  color: var(--clr-orange-3);
  cursor: pointer;
  font-size: 1rem;
}

.nav-link:hover{
  color: var(--clr-white-2);
  background: linear-gradient(to right, var(--clr-orange-2),rgba(0,0,0,0.7));
  padding-left: 2.25rem;
  border-left: 2rem solid var(--clr-white-4);
}

.nav-icons{
  display: none;
}

@media screen and (max-width:560px){
  .nav-text h2{
    display: none;
  }
}

@media screen and (min-width:1170px){

  .nav-bar{
    padding: 1rem 2rem;
  }

  .nav-text{
    display: flex;
    align-items: center;
  }

  .nav-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  /* hidden toggle button */
  .nav-toggle{
    display: none;
  }

  .nav-header{
    padding: 1rem 0;
  }

  .nav-links{
    display: flex;
    align-items: center;
    height: 3rem;
  }

  .nav-link{
    padding: 1rem 0;
    margin-right: 0.7rem;
    font-weight: 300;
  }

  .nav-link:hover{
    padding: 0;
    background: transparent;
    color: var(--clr-black-2);
    border-left: 0;
    border-bottom: 0.1rem solid var(--clr-orange-2) ;
  }

  .nav-icons{
    display: flex;
  }

  .nav-icon-twitter,
  .nav-icon-facebook,
  .nav-icon-instagram{
    margin-right: 0.7rem;
    font-size: 1.2rem;
    transition: var(--transition);
    color: var(--clr-orange-2);
  }

  .nav-icon-twitter:hover{
    color: var(--clr-twitter);
  }

  .nav-icon-facebook:hover{
    color: var(--clr-faceBook);
  }

  .nav-icon-instagram:hover{
    color: var(--clr-instagram);
  }
}

/* ********************* */
/* hero */
/* ********************* */

.hero{
  min-height: 100vh;
  background: var(--clr-black-2);
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.hero-title{
  margin-left: 5rem;
}

.hero-h1{
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-weight: 300;
  word-spacing: var(--spacing);
  color: var(--clr-white-5);
  /* animation: show-btn 2s ease-in; */
}

.upper{
  animation: slideFromUp 5s ease-in-out 1;
}

.bottom{
  margin-bottom: 3rem;
  animation: slideFromDown 5s ease-in-out 1;
}

.hero-link{
  margin-right: 1.25rem;
  animation: show-btn 2s linear 1;
}

@media screen and (min-width: 768px){
  .hero{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/hero.jpg) center/cover no-repeat fixed;
  }
}

/* ********************* */
/* separation line */
/* ********************* */

.content-divider{
  height: 0.5rem;
  background: linear-gradient(to right, var(--clr-black-3), var(--clr-orange-2), var(--clr-black-3));
}
/* ********************* */
/* features */
/* ********************* */

.features{
  background: var(--clr-white-5);
}

.section-title h2{
  color: var(--clr-black-2);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: var(--spacing);
  word-spacing: var(--spacing);
  margin-bottom: 2rem;
}

.section-title hr{
  width: 15%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border-bottom: none;
  border: 1.5px solid var(--clr-orange-2);
}

.section-title p{
  color: var(--clr-black-1);
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2rem;
  line-height: var(--lineHeight);
  margin-bottom: 2rem;
}

.features-center{
  padding: 0 5rem;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}

.single-feature{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  transition: var(--transition);
}

.single-feature:hover{
  border-bottom: 2px solid var(--clr-orange-2);
  transform: scale(1.01);
}

.feature-icon{
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  display: inline-block;
  color: var(--clr-orange-1);
}

.feature-title{
  color: var(--clr-black-2);
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.feature-text{
  color: var(--clr-black-1);
  max-width: 17rem;
}


/* ********************* */
/* gallery */
/* ********************* */
.gallery-img-container{
  background: var(--clr-orange-2);
  overflow: hidden;
}

.gallery-img{
  height: 17rem;
  object-fit: cover;
  transform: scale(1.15);
  opacity: 0.7;
  transition: var(--transition);
}

.gallery-img-container:hover .gallery-img{
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 768px){
  .gallery-center{
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-img-container{
    flex: 0 0 50%;
  }
}

@media screen and (min-width:992px){
  .gallery-img-container{
    flex: 0 0 25%;
  }
}

/* ********************* */
/* how it works */
/* ********************* */

.singing-img, .signing-info{
  padding: 2rem 0;
}

.signing-img{
  transform: translateX(15rem);
  transform: translateY (15rem);
  width: 15rem;
}

.signing-picture-container{
  background: var(--clr-orange-2);
  max-width: 25rem;
}

.signing-text-no{
  border: .1rem solid var(--clr-orange-2);
  display: inline-block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 2rem;
  margin-right: 2rem;
}

.signing-text{
  color: var(--clr-black-3);
  float: left;
  /* margin-bottom: 2rem;
  margin-top: 2rem; */
}


.signing-text-p{
  word-spacing: var(--spacing);
  line-height: 2rem;
  font-size: 1.5rem;
  transition: var(--transition);
}

.signing-text-p:hover{
  color: var(--clr-orange-2)  ;
}



@media screen and (min-width: 992px){
  .signing-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .signing-text{
  color: var(--clr-black-3);
  display: grid;
  grid-template-columns: 1fr 500px;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

}




/* ********************* */
/* cities */
/* ********************* */
.cities{
  background: var(--clr-white-5);
}

.cities-center{
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}

.city{
  /* border: 1px solid var(--clr-orange-1); */
  margin-bottom: 3rem;
  transition: var(--transition);
  background: var(--clr-white-5);
  /* box-shadow: var(--light-shadow); */
}

.city:hover{
  box-shadow: var(--dark-shadow);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.city img{
  min-height: 16rem;
  margin-bottom: 1rem;
}

.city-info{
  padding: 1rem;
}

.city-info h3{
  color: var(--clr-black-1);
  text-transform: uppercase;
  margin-bottom: 2rem;
  /* font-weight: 300; */
  letter-spacing: var(--spacing);
}

.city-details{
  display: grid;
  grid-template-columns: 2.5rem 15rem;
  column-gap: 0rem;
}

.city-details span{
  color: var(--clr-orange-3);
  font-size: 1.2rem;
}

.city-details p{
  color: var(--clr-black-3);
  font-size: 1.2rem;
}

.city-details a{
  color: var(--clr-orange-2);
  font-size: 1.2rem;
  text-decoration: underline;
  transition: var(--transition);
}

.city-details a:hover{
  text-decoration: none;
}

.cities-center{
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
}

.city{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
}



/* ********************* */
/* customer testimonials */
/* ********************* */
.customer{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/back-customers.jpg) center/cover no-repeat fixed;;
}

.customer-title h2{
  color: var(--clr-white-1);
}

.customer-title{
  margin-bottom: 3rem;
}

.customer-center{
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
}

.single-customer{
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.customer-icon{
  color: var(--clr-white-1);
  font-size: 1.5rem;
}

.customer-p{
  color: var(--clr-white-1);
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
  width: 20rem;
}

.customer-opinion{
  display: flex;
  align-items: center;
}

.customer-opinion-img{
  border-radius: 50%;
  width: 5rem;
  margin-right: 0.8rem;
}

.customer-opinion-p{
  color: var(--clr-white-1);
  font-size: 1.2rem;
  text-transform: capitalize;
}

/* ********************* */
/* proposal*/
/* ********************* */
.proposal{
  background: var(--clr-white-5);
}

.proposal-center{
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
}


.single-proposal{
  border: 2px solid var(--clr-white-7);
  border-radius: var(--radius);
  background: var(--clr-white-1);
  width: 22rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.single-proposal:hover{
  box-shadow: var(--dark-shadow);
  transform: scale(1.01);
}

.proposal-type{
  padding: 1rem;
  border-bottom: 2px solid var(--clr-white-7);
}

.proposal-type-h3{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0;
  color: var(--clr-black-3);
}

.proposal-type-p1{
  font-size: 5rem;
  font-weight: 300;
  color: var(--clr-orange-1);
}

.proposal-type-span{
  font-size: 1.5rem;
}

.proposal-type-p2{
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-black-3)
}

.proposal-type-special{
  opacity: 0;
}

.proposal-features{
  padding: 1rem;
  border-bottom: 2px solid var(--clr-white-7);
}

.proposal-features-single{
  display: flex;
}

.proposal-features-single span{
  margin-right: 1.5rem;
  color: var(--clr-orange-1);
}

.proposal-features-single p{
  color: var(--clr-black-3);
  font-size: 1.3rem;
  font-weight: 300;
  transform: translateY(-.5rem);
}

.proposal-btn{
  padding: 1rem;
  text-align: center;
}


/* ********************* */
/* booking*/
/* ********************* */
.booking-form{
  
}
.booking-center{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* transform: translateX(-15rem); */
  /* background: var(--clr-white-1); */
}

.booking-name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.booking-name-label{
  color: var(--clr-black-2);
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 10rem;
}

.booking-name-input input{
  height: 2.5rem;
  width: 30rem;
  outline: none;
  border: 2px solid var(--clr-white-7);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
}

.booking-name-input input::placeholder{
  color: var(--clr-white-5);
}

.booking-email{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.booking-email-label{
  color: var(--clr-black-2);
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 10rem;
}

.booking-email-input input{
  height: 2.5rem;
  width: 30rem;
  outline: none;
  border: 2px solid var(--clr-white-7);
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-black-2);
  font-weight: 300;
  padding: 1rem;
}

.booking-email-input input::placeholder{
  color: var(--clr-white-5);
}

.booking-findUs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.booking-findUs-label{
  color: var(--clr-black-2);
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 1rem;
}

.booking-findUs-select select{
  height: 2.5rem;
  width: 30rem;
  outline: none;
  border: 2px solid var(--clr-white-7);
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-black-2);
  font-weight: 300;
  
}

.booking-newsLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  transform: translateX(-12rem);
}

.booking-newsLetter-label{
  color: var(--clr-black-2);
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 7rem;
}


.booking-newsLetter-input input{
  margin-right: .5rem;
  cursor: pointer;
  color: red;
}

.booking-dropUs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.booking-dropUs-label{
  color: var(--clr-black-2);
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 5rem;
}

.booking-dropUs-input textarea{
  transform: translateY(2.5rem);
  border: 2px solid var(--clr-white-7);
  outline: none;
  width: 30rem;
}

.booking-dropUs-input textarea::placeholder{
  color: var(--clr-white-7);
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 1rem;
}

.booking-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (max-width: 700px){
  .booking-name-input input{
  height: 2.5rem;
  width: 15rem;
  outline: none;
  border: 2px solid var(--clr-white-7);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
}

  .booking-email-input input{
  height: 2.5rem;
  width: 15rem;
  outline: none;
  border: 2px solid var(--clr-white-7);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
}

  .booking-findUs-select select{
  height: 2.5rem;
  width: 15rem;
  outline: none;
  border: 2px solid var(--clr-white-7);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
}

.booking-newsLetter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  transform: translateX(-4rem);
}

.booking-dropUs-input textarea{
  transform: translateY(2.5rem);
  border: 2px solid var(--clr-white-7);
  outline: none;
  width: 15rem;
}

}

/* ********************* */
/* footer */
/* ********************* */
.footer{
  background: var(--clr-black-3);
  padding: 2rem;
}

.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

  .footer-icon-twitter,
  .footer-icon-facebook,
  .footer-icon-instagram{
    margin-right: 2rem;
    font-size: 1.5rem;
    transition: var(--transition);
    color: var(--clr-black-5);
  }

  .footer-icon-twitter:hover{
    color: var(--clr-twitter);
  }

  .footer-icon-facebook:hover{
    color: var(--clr-faceBook);
  }

  .footer-icon-instagram:hover{
    color: var(--clr-instagram);
  }

.copyright{
  color: var(--clr-black-5);
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

/* ********************* */
/* checkOut */
/* ********************* */

.checkOut-title{
  padding: 3rem 0;
}

.checkOut-title{
  margin-bottom: 0rem;
}

.wrapper{
  background: var(--clr-white-7);
  width: 35rem;
  padding: 2rem;
  margin: 0.25rem auto;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.wrapper:hover{
  box-shadow: var(--dark-shadow);
}

.wrapper h2{
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--clr-white-1);
}

.wrapper-span{
  color: var(--clr-orange-4);
  font-size: 3rem;
}

.checkOut-h4{
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0;
  color: var(--clr-orange-4);
}

.input-group{
  margin-bottom: 0.5rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: .5rem 0;
}

.input-box{
  width: 100%;
  margin-right: .75rem;
  position: relative;
}

.input-box:last-chile{
  margin-right: 0;
}

.checkOut-name{
  padding: 1rem .6rem 1rem 3rem;
  width: 100%;
  background: var(--clr-white-5);
  border: 1px solid var(--clr-white-1);
  outline: none;
  letter-spacing: 1px;
  transition: var(--transition);
  border-radius: 2px 0 0 2px;
  color: var(--clr-orange-4);
}

.checkOut-name:focus, .dob:focus{
  -webkit-box-shadow: 0 0 2px 1px var(--clr-white-5);
  -moz-box-shadow: 0 0 2px 1px var(--clr-white-5);
  box-shadow: 1px solid var(--clr-white-5);
}

.input-box .icon{
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--clr-black-2);
  background: var(--clr-white-7);
  border-radius: 2px 0 0 2px;
  transition: var(--transition);
  font-size: 1.25rem;
  pointer-events: none;
  border: 1px solid var(--clr-orange-4);
  border-right: none;
}

.checkOut-name + .icon{
  background: var(--clr-orange-1);
  color: var(--clr-white-5);
  border-right: 1px solid var(--clr-white-7);
  border: none;
  transition: var(--transition);
}

.dob{
  width: 30%;
  padding: 1rem;
  text-align: center;
  background: var(--clr-white-5);
  color: var(--clr-orange-4);
  transition: var(--transition);
  outline: none;
  border: 1px solid var(--clr-white-1);
  border-radius: 3px;
}

.radio{
  display: none;
}

.input-box label{
  width: 50%;
  padding: .8rem;
  background: var(--clr-white-5);
  color: var(--clr-orange-4);
  display: inline-block;
  float: left;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid var(--clr-white-1);
  cursor: pointer;
}

.input-box label:first-of-type{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.input-box label:last-of-type{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.radio:checked + label{
  background: var(--clr-white-1);
  transition: var(--transition);
}

.input-box select{
  display: inline-block;
  width: 50%;
  padding: .75rem;
  background: var(--clr-white-5);
  color: var(--clr-orange-4);
  border: 1px solid var(--clr-white-1);
  float: left;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.input-box select:focus{
  background: var(--clr-white-5);
}

.input-box button{
  width: 100%;
  background: transparent;
  border: 1px solid var(--clr-white-1) ;
  background: var(--clr-white-5);
  color: var(--clr-orange-4);
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: var(--transition) ;
}

.input-box button:hover{
  cursor: pointer;
  background: var(--clr-white-1);
}

